
.buttons__button {
    border: none;
    background: none;
    color: teal;
    font-size: initial;
    transition: color 0.3s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 30%);
}

.buttons__button:active {
    color: hsl(180, 100%, 35%);
}

.buttons__button--doneAll:disabled {
    color: #ddd;
}