.form__container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form__input {
    padding: 10px;
    flex-grow: 1;
    border: 1px solid #ddd;
}

.form__addTaskButton {
    background-color: teal;
    border: none;
    color: white;
    padding: 10 px;
    margin-left: 15px;
}