


.tasksList__subheader {
    margin: 7px;
    padding: 20px; 10px;
    background-color: #fff:
}
.tasksList {
    list-style: none;
    margin: 0 auto 20px;
    padding: 40px 20px 10px 20px;
    background-color: #fff;
}

.tasksList__item {
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30px 1fr 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #aaa;
    list-style: none;
}

.tasksList__span {
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow-wrap: anywhere

}

.tasksList__span--done {
    text-decoration: line-through;
    list-style: none;
}

.tasksList__button {
    padding: 5px 10px;
    justify-self: center;
    border: none;
}

.tasksList__buttonSpan {
    opacity: 0;
}

.tasksList__buttonSpan--done {
    opacity: 1;
}

.tasksList__button:hover {
    cursor: pointer;
}

.tasksList__button--done {
    background-color: #008700;
    color: #fff;
}

.tasksList__button--done:hover {
    background-color: #0c0;
}

.tasksList__button--remove {
    background-color:#ea3131;
    color: #fff;
}

.tasksList__button--remove:hover {
    background-color: #f60;
}