.tasksList {
    list-style: none;
    padding: 0;
    background-color: #fff;
}

.tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 10px;
}

.tasksList__item--hidden {
    display: none;
}

.tasksList__span {
    color: #333;
    padding: 10px;
    justify-content: center;
    overflow-wrap: break-word;
}

.tasksList__span--done {
    text-decoration: line-through;
}

.tasksList__button {
    width: 30px;
    height: 30px;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.tasksList__button--done {
    grid-column: 1;
    background-color: #008700;
    color: #fff;
}

.tasksList__button--done:hover {
    background-color: #0c0;
}

.tasksList__button--done:active {
    background-color: rgb(4, 223, 4);
}

.tasksList__button--remove {
    grid-column: 3;
    background-color: #ea3131;
    color: #fff;
}

.tasksList__button--remove:hover {
    background-color: #f60;
}

.tasksList__button--remove:active {
    background-color: rgb(223, 90, 2);
}