.tasksList {
    list-style: none;
    padding: 40px 20px 10px 20px;
    background-color: #fff;
}

.tasksList__item {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

.tasksList__span {
    color: #333;
    padding: 10px;
    justify-content: center;
    overflow-wrap: break-word;
}

.tasksList__span--done {
    text-decoration: line-through;
}

.tasksList__button {
    width: 30px;
    height: 30px;
    border: none;
    justify-content: center;
    cursor: pointer;
}


.tasksList__button--done {
    grid-column: 1;
    background-color: #008700;
    color: #fff;
}

.tasksList__button--done:hover {
    background-color: #0c0;
}

.tasksList__button--remove {
    grid-column: 3;
    background-color: #ea3131;
    color: #fff;
}

.tasksList__button--remove:hover {
    background-color: #f60;
}